body {
    margin: 0;
    font-family: sans-serif;
    text-align: canter;
}

h1 {
    text-align: center;
}

#seat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.seat-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}

/* seat status */
.seat[data-status="available"] {
    background-color: white;
    color: black;
}

.seat[data-status="selected"] {
    background-color: #2196f3;
    color: white;
}

.seat[data-status="booked"] {
    background-color: #f44336;
    color: white;
}