body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: slategrey;
}

h1 {
    text-align: center;
}

#seat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.seat-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.seat {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    transition: 0.2s;
}

/* seat status */
.seat[data-status="available"] {
    background-color: white;
    color: black;
}

.seat[data-status="selected"] {
    background-color: #2196f3;
    color: white;
}

.seat[data-status="booked"] {
    background-color: #f44336;
    color: white;
}

.booking-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-sizing: border-box;
}

.screen {
    width: 70%;
    margin: 20px auto 30px;
    padding: 10px;
    text-align: center;
    border-bottom: 4px solid #333;
    font-weight: bold;
}

.seat[data-status="available"]:hover {

    background-color: #e0e0e0;

}

#selected-seats {
    margin-top: 30px;
    padding: 15px;
    border-top: 1px solid #ddd;
}

#selected-seats-list {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}